*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid red;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.box{
    border: 2px solid green;
    margin: 50px;
}
#box1{
    order: 2;
    flex-grow: 1;
    flex-shrink: 2;
}
#box5{
    order: 5;
}

