* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    color: gray;
}

.container{
    width: 100%;
    padding-top: 70px;
    max-width: 1000px;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 60px;
}

 h1 span{
    color: navy;
    font-style: italic;
 }

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card1 {
    align-items: baseline;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}
.card1 img{
    height: 250px;
    width: 100vh;
}

.image{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

.content {
    padding: 25px;
}

.time {
    margin-bottom: 15px;
    font-size: 16px;
}

.card h2 {
    color: #6845ff;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 12px;
}

.card p {
    font-size: 17px;
    line-height: 1.6;
}

.subtitle {
    color: #aaa8b5;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 20px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a {
    color: #6845ff;
    text-decoration: none;
    font-size: 17px;
}

.footer div {
    text-align: right;
}

.bottom-icons {
    width: 300px;
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 25px;
}

body{
    background-color: red;
}

@media  screen and (max-width: 760px) {
    body{
        background-color: lightgreen;
    }
}

@media screen and (max-width:400px) {
    body{
        background-color: skyblue;
    }
    
}


